/* Error: Undefined variable.
 *   ,
 * 3 |     align-items: $card-bg-align-items;
 *   |                  ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\material-dashboard\cards\card-background.scss 3:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502      align-items: $card-bg-align-items;\a   \2502                   ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\material-dashboard\\cards\\card-background.scss 3:18  root stylesheet";
}
