.card {
    .section-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        h6 {
            margin: 0;
        }
        button {
            background-color: #fff;
            color: #e91e63;
            margin: 0;
        }
    }
    
}

.modal {
    .modal-header {
        .btn-close {
            background-color: #000;
        }
    }
    .modal-body {
        .form-control {
            border: 1px solid #d2d6da;
            padding: 0.5em;
        }
    }
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
        border: 1px solid #fff;
        margin: 0;
        color: #fff;
    }
}

.navbar-nav {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}