/* Error: Undefined variable.
 *   ,
 * 2 | $navbar-light-hover-bg:                    darken($gray-100, 5%) !default;
 *   |                                                   ^^^^^^^^^
 *   '
 *   assets\scss\material-dashboard\variables\_navbar-vertical.scss 2:51  @import
 *   assets\scss\material-dashboard\theme.scss 22:9                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502  $navbar-light-hover-bg:                    darken($gray-100, 5%) !default;\a   \2502                                                    ^^^^^^^^^\a   \2575 \a   assets\\scss\\material-dashboard\\variables\\_navbar-vertical.scss 2:51  @import\a   assets\\scss\\material-dashboard\\theme.scss 22:9                       root stylesheet";
}
